/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #66eb0e;
  border-radius: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}